params {
	reads = "/home/data/zgsdata/10X_scrna/raw_data/*_{S1_L001_R1_001,S1_L001_R2_001}.fastq.gz"
	outdir 			    = './results'
	cellranger 			= 'cellranger-3.1.0'
	refdata 			= 'refdata-cellranger-GRCh38-3.0.0'
	single_end          = false
	cpus                = 30
	mailto              = 'zgs0000@yeah.net'
	version             = '1.0.0'

}


mail {
    smtp.host = 'smtp.qq.com'
    smtp.port = 587
    smtp.user = '1417188187@qq.com'
    smtp.password = '************'
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = true
}